.admin-notes-container {
  width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-notes-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #27374d;
}

.notes-textarea {
  width: 90%;
  height: 300px;
  padding: 15px;
  margin: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
  background-color: #fff;
}

.clear-button {
  margin: 20px;
  padding: 10px 20px;
  align-items: center;
  font-size: 16px;
  background-color: #27374d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-button:hover {
  background-color: #27374d;
}